@media (max-width: 1600px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 1440px) {
    hr {
        max-width: 1300px;
    }

    .navbar .navbar-nav {
        width: 45%;
    }
}

@media (max-width: 1360px) {
    .inner-container, hr {
        max-width: 100%;
    }
}

@media (max-width: 1200px) {
    .navbar .navbar-nav {
        width: 49%;
    }

    .navbar .nav-search {
        width: auto;
    }

    .section {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .why-us-section .left-section p {
        width: 75%;
    }
}

@media (max-width: 1024px) {
    p {
        line-height: 26px;
    }

    .navbar {
        height: 120px;
    }

    .navbar .navbar-collapse {
        flex-wrap: wrap;
    }

    .navbar .navbar-nav {
        width: 75%;
        justify-content: flex-start;
    }

    .navbar .navbar-nav .nav-item {
        margin-right: auto;
    }

    .navbar .nav-search {
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 0px 10px;
        width: 100%;
        order: 1;
        margin-top: 0.7rem;
    }

    .navbar .nav-contact {
        margin-left: auto;
    }

    .hero-section .hero-section-slider img{
        height: 100%;
    }

    .hero-section .hero-content .detail h2 {
        font-size: 34px;
        letter-spacing: 1px;
    }

    .hero-section .hero-content .detail .trip-time {
        font-size: 18px;
    }

    .hero-section .hero-content .detail .price span {
        font-size: 34px;
    }

    .hero-section .tour-detail .right-section span {
        margin-top: 0.5rem !important;
        font-size: 14px;
    }

    .hero-section .tour-detail .right-section a span {
        font-size: 16px;
    }

    .why-us-section .left-section p {
        font-size: 18px;
        line-height: 22px;
    }
    .why-us-section .left-section p {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .section {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .section-title {
        margin-bottom: 1rem;
    }

    .section-title h2 {
        font-size: 36px;
    }

    .section-title h3 {
        font-size: 32px;
    }

    .navbar {
        height: 100%;
    }

    .hero-section .hero-content .detail h2 {
        font-size: 30px;
        letter-spacing: 1px;
    }

    .hero-section .hero-content .detail .price span {
        font-size: 30px;
    }

    .navbar .navbar-collapse {
        position: absolute;
        top: 125px;
        z-index: 10;
        background: white;
        left: 20px;
        right: 20px;
        padding: 15px 20px;
    }

    .hero-section .tour-detail .detail span,
    .hero-section .tour-detail .detail p {
        font-size: 16px;
    }

    .carousel-control-next, .carousel-control-prev {
        top: 30%;
    }
}

@media (max-width: 910px) {
    .inner-sm-container {
        max-width: 100%;
    }
}

@media (min-width:768px) and (max-width: 991px) {
    .hero-section .tour-detail .left-section {
        flex-wrap: wrap;
    }

    .hero-section .tour-detail .detail.detail-after::after {
        right: -35%;
    }

    .date-and-price-section .table-body .table-body-inner {
        height: 100px;
        text-align: center;
    }

    .accommodation-ship-section .left-section,
    .accommodation-ship-section .right-section {
        width: 100%;
        margin: auto;
    }

    .accommodation-ship-section .carousel-indicators .deck-slider-indicator::before {
        content: "";
        height: 8px;
        width: 90%;
        left: 0px;
        top: -20px;
    }

}

@media (max-width: 767.99px) {
    .section-title h2 {
        font-size: 28px;
    }

    .section-title h3 {
        font-size: 24px;
    }

    .navbar {
        border-bottom: 0.5px solid #999;
    }

    .navbar .navbar-brand img, .footer-left-section img {
        width: 150px;
    }

    .navbar .navbar-collapse {
        top: 85px;
        left: 15px;
        right: 15px;
    }

    .hero-section .hero-content {
        position: unset;
        color: #000;
        background: transparent;
        padding: 1rem;
    }

    .hero-section .hero-content .detail span a {
        color: #000;
    }

    .hero-section .hero-breadcrumb {
        display: none;
    }

    .hero-section .inner-section {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero-section .tour-detail .detail {
        width: 20%;
    }
    .reservation-btn {
        background-color: #96AC5D;
        position: fixed;
        bottom: 0;
        z-index: 10;
        left: 0px;
        right: 0px;
    }

    .reservation-btn a span {
        font-weight: 700;
        position: relative;
    }

    .reservation-btn a span::after {
        content: "";
        height: 70%;
        width: 3px;
        background-color: #000;
        position: absolute;
        right: -10%;
        top: 3px;
    }

    .hero-section .hero-content .detail h2 {
        font-size: 28px;
        letter-spacing: 0px;
        text-align: center;
    }

    .hero-section .hero-content .detail .price span {
        font-size: 28px;
    }

    .hero-section .tour-detail .right-section span {
        font-size: 16px;
    }

    .accommodation-ship-section .left-section,
    .accommodation-ship-section .right-section {
        width: 100%;
        margin: auto;
    }

    .accommodation-ship-section .carousel-indicators .deck-slider-indicator::before {
        content: "";
        height: 8px;
        width: 90%;
        left: 0px;
        top: -20px;
    }

    .carousel-indicators {
        margin: 0;
    }

    .date-and-price-section .table-body .table-body-inner {
        height: auto;
        align-items: flex-start;
        justify-content: start;
    }

    .date-and-price-section .table-body .open-acordian-btn {
        background-color: transparent;
    }

    .date-and-price-section .table-body:hover .open-acordian-btn {
        background-color: transparent;
    }

    .hero-section .tour-detail .left-section {
        flex-wrap: wrap;
    }
    .carousel-control-next, .carousel-control-prev {
        top: 20%;
    }
    .footer-section .copyright-section{
        margin-bottom: 55px;
    }
}

@media (max-width: 575px) {
    p {
        line-height: 22px;
    }

    .section {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .section-title h2 {
        font-size: 28px;
    }

    .section-title h3 {
        font-size: 24px;
    }

    .hero-section .hero-content .detail h2 {
        text-align: left;
    }
    .hero-section .hero-content .detail h2 {
        font-size: 20px;
    }

    .hero-section .hero-content .detail .trip-time {
        font-size: 16px;
    }

    .hero-section .hero-content .detail .price span {
        font-size: 20px;
    }

    .hero-section .tour-detail .detail.detail-after::after {
        display: none;
    }
    
    .hero-section .tour-detail .detail {
        width: 50%;
    }
    .hero-section .tour-detail .detail:not(:last-child) {
        border-right: 0px;
    }

    .reservation-btn a span::after {
        content: "";
        height: 70%;
        width: 2px;
        background-color: #000;
        position: absolute;
        right: -6%;
        top: 3px;
    }
    .accommodation-ship-section .carousel-indicators .deck-slider-indicator::before {
        content: "";
        height: 100%;
        width: 6px;
        left: -10px;
        top: 0px;
    }
    .carousel-indicators {
        margin: auto;
        width: 80%;
    }
    .carousel-control-next, .carousel-control-prev{
        display: none;
    }
    .footer-section .copyright-section {
        margin-bottom: 30px;
    }
}

@media (max-width: 425px) {
    p {
        line-height: 20px;
    }

    .section-title h2 {
        font-size: 22px;
    }

    .section-title h3 {
        font-size: 20px;
    }

    .hero-section .tour-detail .detail {
        width: 100%;
    }

    .why-us-section .left-section p {
        font-size: 16px;
        line-height: 20px;
    }
    .accommodations-hotel-section .hotel-slide-num, 
    .accommodation-ship-section .ship-slide-num{
        font-size: 12px;
    }
    .why-us-section .inner-section{
        background-position: 55%;
    }
}

@media (max-width: 375px) {
    p,
    .date-and-price-section .table-body .table-body-inner p,
    .date-and-price-section .trip-expert-detail .detail-section span,
    .date-and-price-section .trip-expert-detail .detail-section a,
    .reservation-btn span,
    .date-and-price-section .table-body span,
    .date-and-price-section .table-body a,
    .section-title h6,
    .related-trips-section .card .card-body .traveltime span, 
    .footer-section .footer-links h6, .footer-section .footer-links ul li a {
        font-size: 14px;
    }

    .section-title h2 {
        font-size: 20px;
    }

    .section-title h3 {
        font-size: 18px;
    }

    .related-trips-section .card .card-body h5 {
        font-size: 16px;
    }
    .footer-section .footer-links ul {
        line-height: 28px;
    }
    .reservation-btn a span::after {
        content: "";
        height: 90%;
        width: 2px;
        background-color: #000;
        position: absolute;
        right: -7%;
        top: 0px;
    }
    .date-and-price-section .trip-expert-detail .person-detail{
        flex-direction: column;
    }
    .date-and-price-section .trip-expert-detail .person-detail .detail-section{
        margin-top: 10px;
    }
    .accommodation-ship-section .nav-tabs .sub-tab-btn{
        text-align: center;
        font-size: 14px;
    }
    
}

@media (max-width: 320px) {

    .itinerary-section .right-section img {
        height: 50px;
    }

    .itinerary-section .acordian-section .accordion-btn {
        font-size: 16px;
    }
    .why-us-section .inner-section {
        background-position: 65%;
    }    
}